<h1>About skiies</h1>

<h2 class="float">we turn <span>ideas</span> into <span>real things</span></h2>
<p>your business needs an online presence. let us take care of that. we let you manage your business, while you let us manage the web. concentrate on what you do best, and we will too. it's worry free. </p>
<p>if you have an exciting idea or product, and you don't know how to start your online presence, we can help you. bring us your ideas. we can make it happen. we can even make your site scale elastically, so it's always available to your audience</p>

<h2 class="float">we build <span>apps</span>. we love <span>web</span></h2>
<p>we build apps and we love web. we always spend our time developing awesome apps to make people's lives better. not only do we build websites and web apps, we build tools to make the web better.</p>