<h1>Contact skiies</h1>

<form>

	<input type="text" name="name" id="name" placeholder="Name" required />

	<input type="email" name="email" id="email" placeholder="Email" required />

	<textarea name="message" id="message" placeholder="Message" required></textarea>

	<input type="submit" value="Send" />

</form>