<h1>projects</h1>

<div id="projects-list">
	<div class="item">
		<img src="/img/projects/thumb/luncheon.png" width="285" height="260"/>
		<div class="detail">
			<h1>Luncheon</h1>

			<p>Find friends for lunch on campus</p>
		</div>
	</div>
	<div class="item">
		<a href="https://itunes.apple.com/app/id573787308" target="_blank">
			<img src="/img/projects/thumb/cordovabrowser.png" width="285" height="285"/>
		</a>
		<div class="detail">
			<h1>CordovaBrowser</h1>

			<p>CordovaBrowser streamlines your PhoneGap web app development workflow by removing the build process from your workflow</p>
		</div>
	</div>
	<div class="item">
		<div class="detail">
			<h1>talktime</h1>
			<p>Manage your talking time during presentations, meetings, or seminars</p>
		</div>
	</div>
	<div class="item">
		<a href="http://skiies.net/mobile/levelalert/" target="_blank">
			<img src="/img/projects/thumb/levelalert.png" width="285" height="200"/>
		</a>
		<div class="detail">
			<h1>Level Alert</h1>
			<p>Level alert gives you continuous audible feedback on the accelerometer tilt readings, transforming your iPhone into the most practical spirit level yet</p>
		</div>
	</div>
	<div class="item">
		<a href="http://www.chesshongkong.com/" target="_blank">
			<img src="/img/projects/thumb/hkca.png" width="285" height="320"/>
		</a>
		<div class="detail">
			<h1>Hong Kong Chess Association</h1>
			<p>The Hong Kong Chess Association is a non-profit in Hong Kong. We created their website, the information hub for players and members</p>
		</div>
	</div>
	<div class="item">
		<img src="/img/projects/thumb/rocim.png" width="285" height="215"/>
		<div class="detail">
			<h1>ROCIM</h1>
			<p>ROCIM Ltd. is a hedge fund based in Hong Kong. We custom built a simple, user-friendly site that put the focus on their fund information</p>
		</div>
	</div>
</div>